# Poziom 1 - Czyszczenie i integracja danych

In [1]:
import numpy as np
import pandas as pd
from google.cloud import bigquery

## Część 2

Uzyskaj dostęp do danych nt. COVID-19 z poziomu Pythona.

##### **2.5.** Uruchom klienta BigQuery z poziomu Pythona.

In [2]:
from dotenv import load_dotenv

load_dotenv()

client = bigquery.Client()

##### **2.6.** Pobierz dane do obiektu DataFrame.

In [3]:
query = """
    SELECT *
    FROM bigquery-public-data.covid19_open_data.covid19_open_data LIMIT 10
"""
query_job = client.query(query)
query_result = query_job.result()

query_result.to_dataframe()

,location_key,date,place_id,wikidata_id,datacommons_id,country_code,country_name,iso_3166_1_alpha_2,iso_3166_1_alpha_3,aggregation_level,...,cumulative_vaccine_doses_administered_pfizer,new_persons_fully_vaccinated_moderna,cumulative_persons_fully_vaccinated_moderna,new_vaccine_doses_administered_moderna,cumulative_vaccine_doses_administered_moderna,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,location_geometry
0,AR,2021-05-27,ChIJZ8b99fXKvJURqA_wKpl3Lz0,Q414,country/ARG,AR,Argentina,AR,ARG,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-64 -34)
1,AR,2022-05-24,ChIJZ8b99fXKvJURqA_wKpl3Lz0,Q414,country/ARG,AR,Argentina,AR,ARG,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-64 -34)
2,AR,2020-01-02,ChIJZ8b99fXKvJURqA_wKpl3Lz0,Q414,country/ARG,AR,Argentina,AR,ARG,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-64 -34)
3,AR,2020-03-08,ChIJZ8b99fXKvJURqA_wKpl3Lz0,Q414,country/ARG,AR,Argentina,AR,ARG,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-64 -34)
4,AR,2021-11-09,ChIJZ8b99fXKvJURqA_wKpl3Lz0,Q414,country/ARG,AR,Argentina,AR,ARG,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-64 -34)
5,AR,2022-02-25,ChIJZ8b99fXKvJURqA_wKpl3Lz0,Q414,country/ARG,AR,Argentina,AR,ARG,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-64 -34)
6,BR,2020-02-15,ChIJzyjM68dZnAARYz4p8gYVWik,Q155,country/BRA,BR,Brazil,BR,BRA,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-53 -14)
7,BR,2020-11-16,ChIJzyjM68dZnAARYz4p8gYVWik,Q155,country/BRA,BR,Brazil,BR,BRA,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-53 -14)
8,BR,2020-06-17,ChIJzyjM68dZnAARYz4p8gYVWik,Q155,country/BRA,BR,Brazil,BR,BRA,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-53 -14)
9,CO,2021-09-09,ChIJo5QVrjqkFY4RQKPy7wSaDZo,Q739,country/COL,CO,Colombia,CO,COL,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-73.25 4)

## Część 3
#### **Misja dodatkowa - Poznanie danych**

Zapoznaj się z informacjami o danych na temat COVID-19.

##### 3.1. Sprawdź, ile jest zapisanych wierszy z danymi.

In [4]:
query = """
    SELECT COUNT(*) AS rows_count
    FROM bigquery-public-data.covid19_open_data.covid19_open_data
"""
query_job = client.query(query)
query_result = query_job.result()

query_result.to_dataframe()

   rows_count
0    22756333

##### 3.2. Sprawdź, ile krajów jest uwzględnionych w danych.

In [5]:
query = """
    SELECT COUNT(DISTINCT country_code) AS countries_count
    FROM bigquery-public-data.covid19_open_data.covid19_open_data
"""
query_job = client.query(query)
query_result = query_job.result()

query_result.to_dataframe()

   countries_count
0              246

##### 3.3. Sprawdź, w jaki sposób zapisywane są dzienne informacje dla krajów.

Dzienne informacje (np. nowe przypadki, nowe zgony, nowe szczepienia) są zapisywane w postaci 2 wartości:
- liczba nowych przypadków danego dnia
- całkowita liczba przypadków w danym dniu

Dane są zapisywane dla różnych stopni agregacji względem lokalizacji (np. kraj, stan, hrabstwo, miasto). Dane są zapisywane z częstotliwością dzienną.

Przykładowe kolumny (dla nowych przypadków):

In [6]:
query = """
    SELECT location_key, date,
        new_confirmed, cumulative_confirmed
    FROM bigquery-public-data.covid19_open_data.covid19_open_data
    WHERE COALESCE(
        new_confirmed, cumulative_confirmed
    ) IS NOT NULL
    LIMIT 10
"""
query_job = client.query(query)
query_result = query_job.result()

query_result.to_dataframe()

  location_key        date  new_confirmed  cumulative_confirmed
0        US_AL  2021-01-03           2476                371934
1        US_AL  2020-07-15           1812                 59067
2        US_AL  2021-01-14           3588                414583
3        US_AL  2020-06-17            400                 27312
4        US_AR  2021-03-16            396                327456
5        US_AR  2020-12-13           1450                185702
6        US_AR  2020-12-28           1651                216528
7        US_AR  2021-01-08           2944                248860
8        US_DC  2021-09-17            712                 59563
9        US_DC  2022-01-06           1928                110040

##### 3.4. Sprawdź, w jaki sposób zapisywane są wartości liczbowe.

##### 3.5. Sprawdź, jaki przedział czasowy jest uwzględniony w danych. Dodatkowo porównaj przedziały czasowe dla przypadków nowych zachorowań, nowych śmierci oraz nowych zaszczepionych osób w danych.

In [7]:
query = """
    SELECT RANGE(MIN(date), MAX(DATE)) AS total_date_range,
        RANGE(
            MIN(CASE WHEN new_confirmed > 0 THEN date END),
            MAX(CASE WHEN new_confirmed > 0 THEN date END)
        ) AS new_confirmed_date_range,
        RANGE(
            MIN(CASE WHEN new_deceased > 0 THEN date END),
            MAX(CASE WHEN new_deceased > 0 THEN date END)
        ) AS new_deceased_date_range,
        RANGE(
            MIN(CASE WHEN new_persons_vaccinated > 0 THEN date END),
            MAX(CASE WHEN new_persons_vaccinated > 0 THEN date END)
        ) AS new_persons_vaccinated_date_range
    FROM bigquery-public-data.covid19_open_data.covid19_open_data
"""
query_job = client.query(query)
query_result = query_job.result()

date_ranges = query_result.to_dataframe()

In [8]:
date_ranges = date_ranges.T
date_ranges.columns = ['date_range']

date_ranges = date_ranges.assign(
    start=date_ranges['date_range'].apply(lambda x: x['start']),
    end=date_ranges['date_range'].apply(lambda x: x['end'])
)

date_ranges.drop(columns='date_range', inplace=True)

In [9]:
date_ranges

                                        start         end
total_date_range                   2020-01-01  2022-09-17
new_confirmed_date_range           2020-01-01  2022-09-15
new_deceased_date_range            2020-01-02  2022-09-15
new_persons_vaccinated_date_range  2020-12-07  2022-09-14

##### 3.6. Sprawdź więcej informacji (co najmniej 5 różnych) o danych dotyczących COVID-19. W tym celu nie wykonuj żadnych dodatkowych obliczeń.

1. Czy w identyfikatorze lokalizacji (*location_key*) oraz dacie (*date*) są brakujące wartości?

In [11]:
query = """
    SELECT COUNTIF(location_key IS NULL) AS location_key_missing_values,
        COUNTIF(date IS NULL) AS date_missing_values
    FROM bigquery-public-data.covid19_open_data.covid19_open_data
"""
query_job = client.query(query)
query_result = query_job.result()

query_result.to_dataframe()

   location_key_missing_values  date_missing_values
0                            0                    0

2. Ile jest zapisanych wierszy z danymi dla poszczególnych stopni agregacji względem lokalizacji?

In [12]:
query = """
    SELECT aggregation_level, COUNT(*) AS rows_count
    FROM bigquery-public-data.covid19_open_data.covid19_open_data
    GROUP BY aggregation_level
    ORDER BY rows_count DESC
"""
query_job = client.query(query)
query_result = query_job.result()

query_result.to_dataframe()

   aggregation_level  rows_count
0                  2    21061723
1                  1     1419112
2                  0      243786
3                  3       31712

3. Jakie są przedziały wiekowe w przypadku podziału zapisanych danych w zależności od wieku?

In [13]:
query = """
    SELECT DISTINCT age_bin_0, age_bin_1, age_bin_2, age_bin_3, age_bin_4,
        age_bin_5, age_bin_6, age_bin_7, age_bin_8, age_bin_9
    FROM bigquery-public-data.covid19_open_data.covid19_open_data
"""
query_job = client.query(query)
query_result = query_job.result()

age_bins = query_result.to_dataframe()

In [14]:
age_bins.shape

(41, 10)

In [15]:
age_bins.head()

,age_bin_0,age_bin_1,age_bin_2,age_bin_3,age_bin_4,age_bin_5,age_bin_6,age_bin_7,age_bin_8,age_bin_9
0,0-9,10-19,20-29,30-39,40-49,50-59,60-69,70-79,None,None
1,0-4,5-14,15-34,35-59,60-79,80-,None,None,None,None
2,00-09,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80-,None
3,0-9,10-19,20-29,30-39,40-49,50-59,60-69,70-,None,None
4,00-10,11-20,21-30,31-40,41-50,51-60,61-70,71-80,81-,None

4. Czy każda para wartości identyfikatora lokalizacji (*location_key*) oraz daty (*date*) jest unikalna?

In [16]:
query = """
    SELECT location_key, date, COUNT(*) AS count
    FROM bigquery-public-data.covid19_open_data.covid19_open_data
    GROUP BY location_key, date
    HAVING COUNT(*) > 1
"""
query_job = client.query(query)
query_result = query_job.result()

query_result.to_dataframe()

Empty DataFrame
Columns: [location_key, date, count]
Index: []

5. Trendy dotyczące wyszukiwań jakich fraz są dostępne w danych?

In [17]:
query = """
    SELECT DISTINCT column_name
    FROM bigquery-public-data.covid19_open_data.INFORMATION_SCHEMA.COLUMNS
    WHERE table_name = "covid19_open_data"
        AND column_name LIKE 'search_trends_%'
"""
query_job = client.query(query)
query_result = query_job.result()

df_trends = query_result.to_dataframe()
df_trends['column_name'] = df_trends['column_name'].str.replace('search_trends_', '')

df_trends['column_name'].unique()

array(['abdominal_obesity', 'abdominal_pain', 'acne', 'actinic_keratosis',
       'acute_bronchitis', 'adrenal_crisis', 'ageusia', 'alcoholism',
       'allergic_conjunctivitis', 'allergy', 'amblyopia', 'amenorrhea',
       'amnesia', 'anal_fissure', 'anaphylaxis', 'anemia',
       'angina_pectoris', 'angioedema', 'angular_cheilitis', 'anosmia',
       'anxiety', 'aphasia', 'aphonia', 'apnea', 'arthralgia',
       'arthritis', 'ascites', 'asperger_syndrome', 'asphyxia', 'asthma',
       'astigmatism', 'ataxia', 'atheroma',
       'attention_deficit_hyperactivity_disorder',
       'auditory_hallucination', 'autoimmune_disease',
       'avoidant_personality_disorder', 'back_pain',
       'bacterial_vaginosis', 'balance_disorder', 'beaus_lines',
       'bells_palsy', 'biliary_colic', 'binge_eating', 'bleeding',
       'bleeding_on_probing', 'blepharospasm', 'bloating',
       'blood_in_stool', 'blurred_vision', 'blushing', 'boil',
       'bone_fracture', 'bone_tumor', 'bowel_obstruction', 'bradycardia',
       'braxton_hicks_contractions', 'breakthrough_bleeding',
       'breast_pain', 'bronchitis', 'bruise', 'bruxism', 'bunion', 'burn',
       'burning_chest_pain', 'burning_mouth_syndrome', 'candidiasis',
       'canker_sore', 'cardiac_arrest', 'carpal_tunnel_syndrome',
       'cataplexy', 'cataract', 'chancre', 'cheilitis', 'chest_pain',
       'chills', 'chorea', 'chronic_pain', 'cirrhosis',
       'cleft_lip_and_cleft_palate', 'clouding_of_consciousness',
       'cluster_headache', 'colitis', 'coma', 'common_cold',
       'compulsive_behavior', 'compulsive_hoarding', 'confusion',
       'congenital_heart_defect', 'conjunctivitis', 'constipation',
       'convulsion', 'cough', 'crackles', 'cramp', 'crepitus', 'croup',
       'cyanosis', 'dandruff', 'delayed_onset_muscle_soreness',
       'dementia', 'dentin_hypersensitivity', 'depersonalization',
       'depression', 'dermatitis', 'desquamation',
       'developmental_disability', 'diabetes', 'diabetic_ketoacidosis',
       'diarrhea', 'dizziness', 'dry_eye_syndrome', 'dysautonomia',
       'dysgeusia', 'dysmenorrhea', 'dyspareunia', 'dysphagia',
       'dysphoria', 'dystonia', 'dysuria', 'ear_pain', 'eczema', 'edema',
       'encephalitis', 'encephalopathy', 'epidermoid_cyst', 'epilepsy',
       'epiphora', 'erectile_dysfunction', 'erythema',
       'erythema_chronicum_migrans', 'esophagitis',
       'excessive_daytime_sleepiness', 'eye_pain', 'eye_strain',
       'facial_nerve_paralysis', 'facial_swelling', 'fasciculation',
       'fatigue', 'fatty_liver_disease', 'fecal_incontinence', 'fever',
       'fibrillation', 'fibrocystic_breast_changes', 'fibromyalgia',
       'flatulence', 'floater', 'focal_seizure', 'folate_deficiency',
       'food_craving', 'food_intolerance', 'frequent_urination',
       'gastroesophageal_reflux_disease', 'gastroparesis',
       'generalized_anxiety_disorder', 'genital_wart',
       'gingival_recession', 'gingivitis', 'globus_pharyngis', 'goitre',
       'gout', 'grandiosity', 'granuloma', 'guilt', 'hair_loss',
       'halitosis', 'hay_fever', 'headache', 'heart_arrhythmia',
       'heart_murmur', 'heartburn', 'hematochezia', 'hematoma',
       'hematuria', 'hemolysis', 'hemoptysis', 'hemorrhoids',
       'hepatic_encephalopathy', 'hepatitis', 'hepatotoxicity', 'hiccup',
       'hip_pain', 'hives', 'hot_flash', 'hydrocephalus',
       'hypercalcaemia', 'hypercapnia', 'hypercholesterolemia',
       'hyperemesis_gravidarum', 'hyperglycemia', 'hyperhidrosis',
       'hyperkalemia', 'hyperlipidemia', 'hypermobility',
       'hyperpigmentation', 'hypersomnia', 'hypertension', 'hyperthermia',
       'hyperthyroidism', 'hypertriglyceridemia', 'hypertrophy',
       'hyperventilation', 'hypocalcaemia', 'hypochondriasis',
       'hypoglycemia', 'hypogonadism', 'hypokalemia', 'hypomania',
       'hyponatremia', 'hypotension', 'hypothyroidism', 'hypoxemia',
       'hypoxia', 'impetigo', 'implantation_bleeding', 'impulsivity',
       'indigestion', 'infection', 'inflammation',
       'inflammatory_bowel_disease', 'ingrown_hair', 'insomnia',
       'insulin_resistance', 'intermenstrual_bleeding',
       'intracranial_pressure', 'iron_deficiency',
       'irregular_menstruation', 'itch', 'jaundice', 'kidney_failure',
       'kidney_stone', 'knee_pain', 'kyphosis', 'lactose_intolerance',
       'laryngitis', 'leg_cramps', 'lesion', 'leukorrhea',
       'lightheadedness', 'low_back_pain', 'low_grade_fever',
       'lymphedema', 'major_depressive_disorder', 'malabsorption',
       'male_infertility', 'manic_disorder', 'melasma', 'melena',
       'meningitis', 'menorrhagia', 'middle_back_pain', 'migraine',
       'milium', 'mitral_insufficiency', 'mood_disorder', 'mood_swing',
       'morning_sickness', 'motion_sickness', 'mouth_ulcer',
       'muscle_atrophy', 'muscle_weakness', 'myalgia', 'mydriasis',
       'myocardial_infarction', 'myoclonus', 'nasal_congestion',
       'nasal_polyp', 'nausea', 'neck_mass', 'neck_pain',
       'neonatal_jaundice', 'nerve_injury', 'neuralgia', 'neutropenia',
       'night_sweats', 'night_terror', 'nocturnal_enuresis', 'nodule',
       'nosebleed', 'nystagmus', 'obesity', 'onychorrhexis',
       'oral_candidiasis', 'orthostatic_hypotension', 'osteopenia',
       'osteophyte', 'osteoporosis', 'otitis', 'otitis_externa',
       'otitis_media', 'pain', 'palpitations', 'pancreatitis',
       'panic_attack', 'papule', 'paranoia', 'paresthesia',
       'pelvic_inflammatory_disease', 'pericarditis',
       'periodontal_disease', 'periorbital_puffiness',
       'peripheral_neuropathy', 'perspiration', 'petechia', 'phlegm',
       'photodermatitis', 'photophobia', 'photopsia', 'pleural_effusion',
       'pleurisy', 'pneumonia', 'podalgia', 'polycythemia', 'polydipsia',
       'polyneuropathy', 'polyuria', 'poor_posture', 'post_nasal_drip',
       'postural_orthostatic_tachycardia_syndrome', 'prediabetes',
       'proteinuria', 'pruritus_ani', 'psychosis', 'ptosis',
       'pulmonary_edema', 'pulmonary_hypertension', 'purpura', 'pus',
       'pyelonephritis', 'radiculopathy', 'rectal_pain',
       'rectal_prolapse', 'red_eye', 'renal_colic',
       'restless_legs_syndrome', 'rheum', 'rhinitis', 'rhinorrhea',
       'rosacea', 'round_ligament_pain', 'rumination', 'scar', 'sciatica',
       'scoliosis', 'seborrheic_dermatitis', 'self_harm',
       'sensitivity_to_sound', 'sexual_dysfunction', 'shallow_breathing',
       'sharp_pain', 'shivering', 'shortness_of_breath', 'shyness',
       'sinusitis', 'skin_condition', 'skin_rash', 'skin_tag',
       'skin_ulcer', 'sleep_apnea', 'sleep_deprivation', 'sleep_disorder',
       'snoring', 'sore_throat', 'spasticity', 'splenomegaly', 'sputum',
       'stomach_rumble', 'strabismus', 'stretch_marks', 'stridor',
       'stroke', 'stuttering', 'subdural_hematoma', 'suicidal_ideation',
       'swelling', 'swollen_feet', 'swollen_lymph_nodes', 'syncope',
       'tachycardia', 'tachypnea', 'telangiectasia', 'tenderness',
       'testicular_pain', 'throat_irritation', 'thrombocytopenia',
       'thyroid_nodule', 'tic', 'tinnitus', 'tonsillitis', 'toothache',
       'tremor', 'trichoptilosis', 'tumor', 'type_2_diabetes',
       'unconsciousness', 'underweight',
       'upper_respiratory_tract_infection', 'urethritis',
       'urinary_incontinence', 'urinary_tract_infection',
       'urinary_urgency', 'uterine_contraction', 'vaginal_bleeding',
       'vaginal_discharge', 'vaginitis', 'varicose_veins', 'vasculitis',
       'ventricular_fibrillation', 'ventricular_tachycardia', 'vertigo',
       'viral_pneumonia', 'visual_acuity', 'vomiting', 'wart',
       'water_retention', 'weakness', 'weight_gain', 'wheeze',
       'xeroderma', 'xerostomia', 'yawn'], dtype=object)

## Część 4

Przeanalizuj poniższe przypadki. Zastanów się, jakie dane potrzebujesz do każdego z nich, a następnie zapisz je w osobnych, jak najprostszych obiektach DataFrame. Na tym etapie nie przetwarzaj ich. Zadbaj o czystość danych, m.in. usuń niepotrzebne puste wartości i duplikaty, zunifikuj sposób podawania informacji, zaproponuj sposób naprawy błędnych danych. Gotowe dane z obiektów DataFrame zapisz w osobnych plikach CSV.

##### **4.1.** Chcemy posiadać podstawowe dane o wszystkich krajach świata, które będą zrozumiałe dla człowieka oraz uniwersalne i potencjalnie przyszłościowe do dalszego przetwarzania.

In [18]:
query = """
    SELECT location_key, date,
        country_name, aggregation_level,
        iso_3166_1_alpha_2, iso_3166_1_alpha_3,
        subregion1_code, subregion1_name,
        subregion2_code, subregion2_name
    FROM bigquery-public-data.covid19_open_data.covid19_open_data
"""
query_job = client.query(query)
query_result = query_job.result()

df_countries = query_result.to_dataframe()

In [19]:
df_countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22756333 entries, 0 to 22756332
Data columns (total 10 columns):
 #   Column              Dtype
---  ------              -----
 0   location_key        object
 1   date                dbdate
 2   country_name        object
 3   aggregation_level   Int64
 4   iso_3166_1_alpha_2  object
 5   iso_3166_1_alpha_3  object
 6   subregion1_code     object
 7   subregion1_name     object
 8   subregion2_code     object
 9   subregion2_name     object
dtypes: Int64(1), dbdate(1), object(8)
memory usage: 1.7+ GB

In [20]:
df_countries.head()

,location_key,date,country_name,aggregation_level,iso_3166_1_alpha_2,iso_3166_1_alpha_3,subregion1_code,subregion1_name,subregion2_code,subregion2_name
0,CZ_42_426,2020-04-19,Czech Republic,2,CZ,CZE,42,Ústí nad Labem Region,426,Teplice District
1,TH_31,2021-07-16,Thailand,1,TH,THA,31,Buriram,None,None
2,CZ_20_205,2021-02-02,Czech Republic,2,CZ,CZE,20,Central Bohemian Region,205,Kutná Hora District
3,CZ_72_724,2022-06-19,Czech Republic,2,CZ,CZE,72,Zlin Region,724,Zlín District
4,CA_AB_4831,2021-09-13,Canada,2,CA,CAN,AB,Alberta,4831,South

In [21]:
df_countries.isna().sum()

location_key                0
date                        0
country_name                0
aggregation_level           0
iso_3166_1_alpha_2        991
iso_3166_1_alpha_3        991
subregion1_code        244777
subregion1_name        244777
subregion2_code       1694610
subregion2_name       1694610
dtype: int64

In [22]:
df_countries.describe()

       aggregation_level
count         22756333.0
mean            1.917607
std             0.315939
min                  0.0
25%                  2.0
50%                  2.0
75%                  2.0
max                  3.0

In [23]:
# df_countries.to_csv('output/countries.csv')

##### **4.2.** Chcemy wygenerować statystyki dotyczące zachorowań na COVID-19 na całym świecie.

In [24]:
query = """
    SELECT location_key, date,
        new_confirmed, cumulative_confirmed,
        new_confirmed_male, new_confirmed_female,
        cumulative_confirmed_male, cumulative_confirmed_female
    FROM bigquery-public-data.covid19_open_data.covid19_open_data
"""
query_job = client.query(query)
query_result = query_job.result()

df_cases = query_result.to_dataframe()

In [25]:
df_cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22756333 entries, 0 to 22756332
Data columns (total 8 columns):
 #   Column                       Dtype
---  ------                       -----
 0   location_key                 object
 1   date                         dbdate
 2   new_confirmed                Int64
 3   cumulative_confirmed         Int64
 4   new_confirmed_male           Int64
 5   new_confirmed_female         Int64
 6   cumulative_confirmed_male    Int64
 7   cumulative_confirmed_female  Int64
dtypes: Int64(6), dbdate(1), object(1)
memory usage: 1.5+ GB

In [26]:
df_cases.head()

,location_key,date,new_confirmed,cumulative_confirmed,new_confirmed_male,new_confirmed_female,cumulative_confirmed_male,cumulative_confirmed_female
0,PE_SAM_0103,2021-05-14,1,58,<NA>,1,26,32
1,BR_BA_290830,2020-09-25,2,547,2,0,276,310
2,BR_BA_290900,2020-08-13,0,22,0,0,6,13
3,BR_BA_291685,2020-08-19,3,96,2,0,43,43
4,BR_BA_292935,2020-11-10,4,341,0,1,139,158

In [27]:
df_cases.isna().sum()

location_key                          0
date                                  0
new_confirmed                  10280989
cumulative_confirmed           10429736
new_confirmed_male             19346104
new_confirmed_female           19352592
cumulative_confirmed_male      19097245
cumulative_confirmed_female    19097932
dtype: int64

In [28]:
df_cases.describe()

,new_confirmed,cumulative_confirmed,new_confirmed_male,new_confirmed_female,cumulative_confirmed_male,cumulative_confirmed_female
count,12475344.0,12326597.0,3410229.0,3403741.0,3659088.0,3658401.0
mean,111.212188,35383.553739,44.010911,46.689347,10809.536452,11278.559864
std,11659.244534,613449.698206,1345.94701,1529.400253,297408.87628,333825.189107
min,-5045418.0,0.0,-2080.0,-2078.0,0.0,0.0
25%,0.0,201.0,0.0,0.0,63.0,63.0
50%,1.0,1033.0,1.0,2.0,273.0,289.0
75%,11.0,5001.0,6.0,6.0,1328.0,1405.0
max,5047094.0,92440495.0,868015.0,971715.0,35432377.0,41162212.0

Kolumny zawierające informacje dotyczące nowych przypadków zawierają wartości ujemne, co jest błędem.

In [29]:
# df_cases.to_csv('output/cases.csv')

##### **4.3.** Chcemy poznać efekty COVID-19 poprzez uwypuklenie problemu śmiertelności ludzi spowodowanej wirusem.

In [30]:
query = """
    SELECT location_key, date,
        new_deceased, cumulative_deceased,
        new_deceased_male, new_deceased_female,
        cumulative_deceased_male, cumulative_deceased_female
    FROM bigquery-public-data.covid19_open_data.covid19_open_data
"""

query_job = client.query(query)
query_result = query_job.result()

df_deceased = query_result.to_dataframe()

In [31]:
df_deceased.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22756333 entries, 0 to 22756332
Data columns (total 8 columns):
 #   Column                      Dtype
---  ------                      -----
 0   location_key                object
 1   date                        dbdate
 2   new_deceased                Int64
 3   cumulative_deceased         Int64
 4   new_deceased_male           Int64
 5   new_deceased_female         Int64
 6   cumulative_deceased_male    Int64
 7   cumulative_deceased_female  Int64
dtypes: Int64(6), dbdate(1), object(1)
memory usage: 1.5+ GB

In [32]:
df_deceased.head()

,location_key,date,new_deceased,cumulative_deceased,new_deceased_male,new_deceased_female,cumulative_deceased_male,cumulative_deceased_female
0,PE_PUN_0105,2020-12-17,0,7,0,0,3,4
1,PE_SAM_0914,2020-07-22,0,1,0,0,0,1
2,BR_AM_130115,2021-03-04,<NA>,<NA>,1,0,4,3
3,BR_AM_130350,2022-01-19,0,22,1,0,12,6
4,BR_AP_160053,2020-06-28,1,6,<NA>,<NA>,<NA>,<NA>

In [33]:
df_deceased.isna().sum()

location_key                         0
date                                 0
new_deceased                  11089473
cumulative_deceased           11281785
new_deceased_male             20691174
new_deceased_female           20709103
cumulative_deceased_male      20512263
cumulative_deceased_female    20512950
dtype: int64

In [34]:
df_deceased.describe()

,new_deceased,cumulative_deceased,new_deceased_male,new_deceased_female,cumulative_deceased_male,cumulative_deceased_female
count,11666860.0,11474548.0,2065159.0,2047230.0,2244070.0,2243383.0
mean,1.274725,587.328897,1.20641,0.9101,355.372324,260.36508
std,88.082247,9228.731201,14.450997,11.195608,4020.342003,3015.478805
min,-63811.0,0.0,-162.0,-176.0,0.0,0.0
25%,0.0,3.0,0.0,0.0,3.0,2.0
50%,0.0,18.0,0.0,0.0,15.0,11.0
75%,0.0,80.0,0.0,0.0,75.0,57.0
max,63830.0,1005195.0,1860.0,1589.0,208279.0,167525.0

Kolumny zawierające informacje dotyczące nowych zgonów zawierają wartości ujemne, co jest błędem.

In [35]:
# df_deceased.to_csv('output/deceased.csv')

##### **4.4.** Chcemy zaobserwować trendy i zależności dotyczące szczepień na COVID-19.

In [36]:
query = """
    SELECT location_key, date,
        new_persons_vaccinated, cumulative_persons_vaccinated,
        new_persons_fully_vaccinated, cumulative_persons_fully_vaccinated,
        new_vaccine_doses_administered, cumulative_vaccine_doses_administered
    FROM bigquery-public-data.covid19_open_data.covid19_open_data
"""

query_job = client.query(query)
query_result = query_job.result()

df_vaccinations = query_result.to_dataframe()

In [37]:
df_vaccinations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22756333 entries, 0 to 22756332
Data columns (total 8 columns):
 #   Column                                 Dtype
---  ------                                 -----
 0   location_key                           object
 1   date                                   dbdate
 2   new_persons_vaccinated                 Int64
 3   cumulative_persons_vaccinated          Int64
 4   new_persons_fully_vaccinated           Int64
 5   cumulative_persons_fully_vaccinated    Int64
 6   new_vaccine_doses_administered         Int64
 7   cumulative_vaccine_doses_administered  Int64
dtypes: Int64(6), dbdate(1), object(1)
memory usage: 1.5+ GB

In [38]:
df_vaccinations.head()

,location_key,date,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered
0,US_MD_24015,2022-01-19,<NA>,<NA>,326,57276,<NA>,<NA>
1,US_MN_27165,2020-06-05,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,US_MO_29025,2021-06-19,<NA>,<NA>,4,2340,<NA>,<NA>
3,US_MO_29123,2022-03-03,<NA>,<NA>,2,4716,<NA>,<NA>
4,US_MO_29137,2020-08-15,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [39]:
df_vaccinations.isna().sum()

location_key                                    0
date                                            0
new_persons_vaccinated                   21823540
cumulative_persons_vaccinated            21869519
new_persons_fully_vaccinated             20234181
cumulative_persons_fully_vaccinated      20233184
new_vaccine_doses_administered           21815699
cumulative_vaccine_doses_administered    21859263
dtype: int64

In [40]:
df_vaccinations.describe()

,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered
count,932793.0,886814.0,2522152.0,2523149.0,940634.0,897070.0
mean,8056.294613,1864280.623487,2481.920983,553302.972863,18887.862376,4869510.054678
std,512668.722568,22579824.378553,130763.882607,11313418.951898,364237.595311,74709178.471205
min,-9410506.0,0.0,-6867191.0,0.0,-23300109.0,0.0
25%,0.0,3702.0,0.0,3205.0,1.0,6208.25
50%,14.0,22527.0,3.0,11229.0,45.0,41738.0
75%,190.0,166171.0,36.0,40687.0,508.0,315623.25
max,450500000.0,1302773000.0,112393000.0,1270656000.0,48622062.0,3434774000.0

Kolumny zawierające informacje dotyczące nowych zaszczepień zawierają wartości ujemne, co jest błędem.

In [41]:
# df_vaccinations.to_csv('output/vaccinations.csv')

##### **4.5.** Zdefiniuj własny dodatkowy przypadek.

Chcemy zbadać trendy w wyszukiwaniach fraz dotyczących wybranych zaburzeń podczas pandemii COVID-19. Rozpatrywane będą następujące wyszukiwania w Google:
- alkoholizm,
- zaburzenia lękowe,
- depresja,
- bezsenność.

In [42]:
query = """
    SELECT location_key, date,
        search_trends_alcoholism, search_trends_anxiety,
        search_trends_depression, search_trends_insomnia
    FROM bigquery-public-data.covid19_open_data.covid19_open_data
"""
query_job = client.query(query)
query_result = query_job.result()

df_disorders = query_result.to_dataframe()

In [43]:
df_disorders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22756333 entries, 0 to 22756332
Data columns (total 6 columns):
 #   Column                    Dtype
---  ------                    -----
 0   location_key              object
 1   date                      dbdate
 2   search_trends_alcoholism  float64
 3   search_trends_anxiety     float64
 4   search_trends_depression  float64
 5   search_trends_insomnia    float64
dtypes: dbdate(1), float64(4), object(1)
memory usage: 1.0+ GB

In [44]:
df_disorders.head()

,location_key,date,search_trends_alcoholism,search_trends_anxiety,search_trends_depression,search_trends_insomnia
0,PE_AYA_0503,2020-02-16,NaN,NaN,NaN,NaN
1,PE_AYA_1108,2021-07-11,NaN,NaN,NaN,NaN
2,PE_CAJ_0614,2020-12-10,NaN,NaN,NaN,NaN
3,PE_CAJ_1005,2022-05-28,NaN,NaN,NaN,NaN
4,PE_CUS_0107,2022-08-09,NaN,NaN,NaN,NaN

In [45]:
df_disorders.isna().sum()

location_key                       0
date                               0
search_trends_alcoholism    21446896
search_trends_anxiety       21009933
search_trends_depression    21338346
search_trends_insomnia      21619748
dtype: int64

In [46]:
df_disorders.describe()

,search_trends_alcoholism,search_trends_anxiety,search_trends_depression,search_trends_insomnia
count,1.309437e+06,1.746400e+06,1.417987e+06,1.136585e+06
mean,4.004108e+00,7.504335e+00,4.467266e+00,2.987337e+00
std,1.081740e+00,1.740011e+00,1.137928e+00,7.299195e-01
min,8.000000e-01,1.190000e+00,7.600000e-01,4.500000e-01
25%,3.310000e+00,6.400000e+00,3.750000e+00,2.510000e+00
50%,3.870000e+00,7.390000e+00,4.350000e+00,2.920000e+00
75%,4.540000e+00,8.450000e+00,5.040000e+00,3.390000e+00
max,2.879000e+01,4.125000e+01,4.314000e+01,1.648000e+01

In [47]:
# df_disorders.to_csv('output/disorders.csv')

## Część 5

Połącz ze sobą wszystkie dane otrzymane w części 4. Nowy zbiór danych zapisz jako oddzielny obiekt DataFrame. Jeżeli uważasz, że należy stworzyć kilka takich obiektów, zrób to i zapisz swoje uzasadnienie. Pamiętaj o ciągłej konieczności zachowania czystości danych. Wynik tego zadania zapisz w pliku / plikach CSV.

In [48]:
import functools

dfs_to_combine = [df_countries, df_cases, df_deceased, df_vaccinations, df_disorders]

df_combined = functools.reduce(
    lambda left, right: pd.merge(left, right, on=['location_key', 'date'], how='outer'),
    dfs_to_combine
)

In [49]:
df_combined['date'] = pd.to_datetime(df_combined['date'])

In [50]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22756333 entries, 0 to 22756332
Data columns (total 32 columns):
 #   Column                                 Dtype
---  ------                                 -----
 0   location_key                           object
 1   date                                   datetime64[ns]
 2   country_name                           object
 3   aggregation_level                      Int64
 4   iso_3166_1_alpha_2                     object
 5   iso_3166_1_alpha_3                     object
 6   subregion1_code                        object
 7   subregion1_name                        object
 8   subregion2_code                        object
 9   subregion2_name                        object
 10  new_confirmed                          Int64
 11  cumulative_confirmed                   Int64
 12  new_confirmed_male                     Int64
 13  new_confirmed_female                   Int64
 14  cumulative_confirmed_male              Int64
 15  cumulative_confirmed_female            Int64
 16  new_deceased                           Int64
 17  cumulative_deceased                    Int64
 18  new_deceased_male                      Int64
 19  new_deceased_female                    Int64
 20  cumulative_deceased_male               Int64
 21  cumulative_deceased_female             Int64
 22  new_persons_vaccinated                 Int64
 23  cumulative_persons_vaccinated          Int64
 24  new_persons_fully_vaccinated           Int64
 25  cumulative_persons_fully_vaccinated    Int64
 26  new_vaccine_doses_administered         Int64
 27  cumulative_vaccine_doses_administered  Int64
 28  search_trends_alcoholism               float64
 29  search_trends_anxiety                  float64
 30  search_trends_depression               float64
 31  search_trends_insomnia                 float64
dtypes: Int64(19), datetime64[ns](1), float64(4), object(8)
memory usage: 5.8+ GB

In [51]:
# df_combined.to_csv('output/combined_part_5.csv')

## Część 6

Połącz ze sobą dane otrzymane w części 5 oraz dane znajdujące się w plikach:

##### **6.1.** world_countries.csv

Podstawowe dane dotyczące krajów na całym świecie razem z historycznymi danymi na temat ich populacji. Kolejno zawarto:
- Rank - miejsce w rankingu wyznaczone na podstawie populacji.
- CCA3 - 3-literowy kod kraju lub terytorium zapisany w standardzie ISO 3166-1 alpha-3.
- Country/Territories - nazwa kraju lub terytorium.
- Capital - nazwa stolicy.
- Continent - nazwa kontynentu.
- 2022 Population - populacja kraju lub terytorium w 2022 roku.
- 2020 Population - populacja kraju lub terytorium w 2020 roku.
- 2015 Population - populacja kraju lub terytorium w 2015 roku.
- 2010 Population - populacja kraju lub terytorium w 2010 roku.
- 2000 Population - populacja kraju lub terytorium w 2000 roku.
- 1990 Population - populacja kraju lub terytorium w 1990 roku.
- 1980 Population - populacja kraju lub terytorium w 1980 roku.
- 1970 Population - populacja kraju lub terytorium w 1970 roku.
- Area (km²) - powierzchnia kraju lub terytorium podana w km².
- Density (per km²) - gęstość zaludnienia kraju lub terytorium na 1 km².
- Growth Rate - stosunek wyrażający stan populacji kraju lub terytorium w 2022 i 2021 roku, wartość zaokrąglona do 4 miejsc po przecinku.
- World Population Percentage - udział procentowy populacji kraju lub terytorium w populacji całego świata, wartość zaokrąglona do 2 miejsc po przecinku.

In [52]:
df_world_countries = pd.read_csv('data/world_countries.csv')

In [53]:
df_world_countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    int64
 1   CCA3                         234 non-null    object
 2   Country/Territory            234 non-null    object
 3   Capital                      234 non-null    object
 4   Continent                    234 non-null    object
 5   2022 Population              234 non-null    int64
 6   2020 Population              234 non-null    int64
 7   2015 Population              234 non-null    int64
 8   2010 Population              234 non-null    int64
 9   2000 Population              234 non-null    int64
 10  1990 Population              234 non-null    int64
 11  1980 Population              234 non-null    int64
 12  1970 Population              234 non-null    int64
 13  Area (km²)                   234 non-null    int64
 14  Density (per km²)            234 non-null    float64
 15  Growth Rate                  234 non-null    float64
 16  World Population Percentage  234 non-null    float64
dtypes: float64(3), int64(10), object(4)
memory usage: 31.2+ KB

In [54]:
df_world_countries.head()

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00

In [55]:
df_world_countries.isna().sum()

Rank                           0
CCA3                           0
Country/Territory              0
Capital                        0
Continent                      0
2022 Population                0
2020 Population                0
2015 Population                0
2010 Population                0
2000 Population                0
1990 Population                0
1980 Population                0
1970 Population                0
Area (km²)                     0
Density (per km²)              0
Growth Rate                    0
World Population Percentage    0
dtype: int64

In [56]:
df_world_countries.describe()

,Rank,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
count,234.000000,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,234.000000,234.000000,234.000000
mean,117.500000,3.407441e+07,3.350107e+07,3.172996e+07,2.984524e+07,2.626947e+07,2.271022e+07,1.898462e+07,1.578691e+07,5.814494e+05,452.127044,1.009577,0.427051
std,67.694165,1.367664e+08,1.355899e+08,1.304050e+08,1.242185e+08,1.116982e+08,9.783217e+07,8.178519e+07,6.779509e+07,1.761841e+06,2066.121904,0.013385,1.714977
min,1.000000,5.100000e+02,5.200000e+02,5.640000e+02,5.960000e+02,6.510000e+02,7.000000e+02,7.330000e+02,7.520000e+02,1.000000e+00,0.026100,0.912000,0.000000
25%,59.250000,4.197385e+05,4.152845e+05,4.046760e+05,3.931490e+05,3.272420e+05,2.641158e+05,2.296142e+05,1.559970e+05,2.650000e+03,38.417875,1.001775,0.010000
50%,117.500000,5.559944e+06,5.493074e+06,5.307400e+06,4.942770e+06,4.292907e+06,3.825410e+06,3.141146e+06,2.604830e+06,8.119950e+04,95.346750,1.007900,0.070000
75%,175.750000,2.247650e+07,2.144798e+07,1.973085e+07,1.915957e+07,1.576230e+07,1.186923e+07,9.826054e+06,8.817329e+06,4.304258e+05,238.933250,1.016950,0.280000
max,234.000000,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,9.823725e+08,8.225344e+08,1.709824e+07,23172.266700,1.069100,17.880000

Dane o populacji spoza zakresu zarejestrowanych danych o COVID-19 (2020-2022) zostaną wyfiltrowane. Zostaną również usunięte dane o stolicach oraz pełych nazwach krajów (dane o stolicach są nieistotne, a pełne nazwy krajów są już zawarte w danych o COVID-19).

In [57]:
df_world_countries_filtered = df_world_countries.copy()

In [58]:
df_world_countries_filtered.drop(
    columns=[
        'Country/Territory', 'Capital',
        '1970 Population', '1980 Population',
        '1990 Population', '2000 Population',
        '2010 Population', '2015 Population'
    ],
    inplace=True
)

df_world_countries_filtered.rename(
    columns={
        'Rank': 'country_population_rank',
        'CCA3': 'iso_3166_1_alpha_3',
        'Continent': 'continent',
        '2022 Population': 'country_population_2022',
        '2020 Population': 'country_population_2020',
        'Area (km²)': 'country_area_sq_km',
        'Density (per km²)': 'country_population_density_per_sq_km',
        'Growth Rate': 'country_population_growth_rate',
        'World Population Percentage': 'country_world_population_percentage'
    },
    inplace=True
)

Złączenie danych o krajach z danymi z poprzednich części na podstawie 3-literowego kodu kraju.

In [59]:
df_combined = df_combined.merge(
    df_world_countries_filtered, how='left', on='iso_3166_1_alpha_3'
)

In [60]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22756333 entries, 0 to 22756332
Data columns (total 40 columns):
 #   Column                                 Dtype
---  ------                                 -----
 0   location_key                           object
 1   date                                   datetime64[ns]
 2   country_name                           object
 3   aggregation_level                      Int64
 4   iso_3166_1_alpha_2                     object
 5   iso_3166_1_alpha_3                     object
 6   subregion1_code                        object
 7   subregion1_name                        object
 8   subregion2_code                        object
 9   subregion2_name                        object
 10  new_confirmed                          Int64
 11  cumulative_confirmed                   Int64
 12  new_confirmed_male                     Int64
 13  new_confirmed_female                   Int64
 14  cumulative_confirmed_male              Int64
 15  cumulative_confirmed_female            Int64
 16  new_deceased                           Int64
 17  cumulative_deceased                    Int64
 18  new_deceased_male                      Int64
 19  new_deceased_female                    Int64
 20  cumulative_deceased_male               Int64
 21  cumulative_deceased_female             Int64
 22  new_persons_vaccinated                 Int64
 23  cumulative_persons_vaccinated          Int64
 24  new_persons_fully_vaccinated           Int64
 25  cumulative_persons_fully_vaccinated    Int64
 26  new_vaccine_doses_administered         Int64
 27  cumulative_vaccine_doses_administered  Int64
 28  search_trends_alcoholism               float64
 29  search_trends_anxiety                  float64
 30  search_trends_depression               float64
 31  search_trends_insomnia                 float64
 32  country_population_rank                float64
 33  continent                              object
 34  country_population_2022                float64
 35  country_population_2020                float64
 36  country_area_sq_km                     float64
 37  country_population_density_per_sq_km   float64
 38  country_population_growth_rate         float64
 39  country_world_population_percentage    float64
dtypes: Int64(19), datetime64[ns](1), float64(11), object(9)
memory usage: 7.2+ GB

##### **6.2.** GDP.csv

Wartości produktu krajowego brutto (w skrócie PKB, ang. GDP - gross domestic product) w krajach i regionach świata. Kolejno zawarto:
- Country Name - nazwa kraju lub regionu.
- Country Code - 3-literowy kod kraju lub regionu.
- Year - rok, dla którego zapisano wartość PKB.
- Value - wartość PKB podana w USD.

In [61]:
df_gdp = pd.read_csv('data/gdp.csv')

In [62]:
df_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11507 entries, 0 to 11506
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  11507 non-null  object
 1   Country Code  11507 non-null  object
 2   Year          11507 non-null  int64
 3   Value         11507 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 359.7+ KB

In [63]:
df_gdp.head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

In [64]:
df_gdp.isna().sum()

Country Name    0
Country Code    0
Year            0
Value           0
dtype: int64

In [65]:
df_gdp.describe()

               Year         Value
count  11507.000000  1.150700e+04
mean    1991.265230  1.005972e+12
std       15.886648  4.533056e+12
min     1960.000000  8.824448e+06
25%     1978.000000  2.056874e+09
50%     1993.000000  1.436880e+10
75%     2005.000000  1.796394e+11
max     2016.000000  7.904923e+13

In [66]:
df_gdp_filtered = df_gdp.copy()

In [67]:
df_gdp_filtered.drop(columns='Country Name', inplace=True)

df_gdp_filtered.rename(
    columns={
        'Country Code': 'iso_3166_1_alpha_3',
        'Year': 'year',
        'Value': 'country_gdp_usd_yearly'
    },
    inplace=True
)

In [68]:
df_gdp_filtered['year'].min(), df_gdp_filtered['year'].max()

(np.int64(1960), np.int64(2016))

Zbiór danych zawiera wartości PKB dla lat 1960-2016. W dalszych analizach zostaną uwzględnione dane z lat 2012-2016.

In [69]:
df_gdp_filtered = df_gdp_filtered.query('year >= 2012')

In [70]:
df_gdp_filtered_pivot = df_gdp_filtered.pivot_table(
    index='iso_3166_1_alpha_3',
    columns='year',
    values='country_gdp_usd_yearly'
).reset_index()

df_gdp_filtered_pivot.columns.name = None

df_gdp_filtered_pivot.rename(
    columns=lambda col: f"country_gdp_usd_{col}" if isinstance(col, int) else col,
    inplace=True
)

In [71]:
df_gdp_filtered_pivot.head()

,iso_3166_1_alpha_3,country_gdp_usd_2012,country_gdp_usd_2013,country_gdp_usd_2014,country_gdp_usd_2015,country_gdp_usd_2016
0,AFG,2.053654e+10,2.004633e+10,2.005019e+10,1.921556e+10,1.946902e+10
1,AGO,1.153984e+11,1.249121e+11,1.267769e+11,1.029622e+11,9.533511e+10
2,ALB,1.231978e+10,1.277628e+10,1.322824e+10,1.133526e+10,1.186387e+10
3,AND,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.858518e+09
4,ARB,2.741239e+12,2.839627e+12,2.906616e+12,2.563302e+12,2.504703e+12

Złączenie danych o PKB z danymi z poprzednich części na podstawie 3-literowego kodu kraju.

In [72]:
df_combined = df_combined.merge(
    df_gdp_filtered_pivot, how='left', on='iso_3166_1_alpha_3'
)

In [73]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22756333 entries, 0 to 22756332
Data columns (total 45 columns):
 #   Column                                 Dtype
---  ------                                 -----
 0   location_key                           object
 1   date                                   datetime64[ns]
 2   country_name                           object
 3   aggregation_level                      Int64
 4   iso_3166_1_alpha_2                     object
 5   iso_3166_1_alpha_3                     object
 6   subregion1_code                        object
 7   subregion1_name                        object
 8   subregion2_code                        object
 9   subregion2_name                        object
 10  new_confirmed                          Int64
 11  cumulative_confirmed                   Int64
 12  new_confirmed_male                     Int64
 13  new_confirmed_female                   Int64
 14  cumulative_confirmed_male              Int64
 15  cumulative_confirmed_female            Int64
 16  new_deceased                           Int64
 17  cumulative_deceased                    Int64
 18  new_deceased_male                      Int64
 19  new_deceased_female                    Int64
 20  cumulative_deceased_male               Int64
 21  cumulative_deceased_female             Int64
 22  new_persons_vaccinated                 Int64
 23  cumulative_persons_vaccinated          Int64
 24  new_persons_fully_vaccinated           Int64
 25  cumulative_persons_fully_vaccinated    Int64
 26  new_vaccine_doses_administered         Int64
 27  cumulative_vaccine_doses_administered  Int64
 28  search_trends_alcoholism               float64
 29  search_trends_anxiety                  float64
 30  search_trends_depression               float64
 31  search_trends_insomnia                 float64
 32  country_population_rank                float64
 33  continent                              object
 34  country_population_2022                float64
 35  country_population_2020                float64
 36  country_area_sq_km                     float64
 37  country_population_density_per_sq_km   float64
 38  country_population_growth_rate         float64
 39  country_world_population_percentage    float64
 40  country_gdp_usd_2012                   float64
 41  country_gdp_usd_2013                   float64
 42  country_gdp_usd_2014                   float64
 43  country_gdp_usd_2015                   float64
 44  country_gdp_usd_2016                   float64
dtypes: Int64(19), datetime64[ns](1), float64(16), object(9)
memory usage: 8.0+ GB

Nowy zbiór danych zapisz jako oddzielny obiekt DataFrame. Jeżeli uważasz, że należy stworzyć kilka takich obiektów, zrób to i zapisz swoje uzasadnienie. Pamiętaj o ciągłej konieczności zachowania czystości danych. Wynik tego zadania zapisz w pliku / plikach CSV.

In [74]:
# df_combined.to_csv('output/combined_part_6.csv')

## Część 7
#### **Misja dodatkowa - Więcej danych**

Znajdź 3 dodatkowe zbiory danych, które uważasz, że rozwijają w ciekawy sposób temat ostatniej pandemii. Powtórz dla nich analogiczne czynności z części 4, a następnie połącz je z danymi z części 6. Nowy zbiór danych zapisz jako oddzielny obiekt DataFrame. Jeżeli uważasz, że należy stworzyć kilka takich obiektów, zrób to i zapisz swoje uzasadnienie. Pamiętaj o ciągłej konieczności zachowania czystości danych. Wynik tego zadania zapisz w pliku / plikach CSV.

##### **Zbiór 1.** Dane dotyczące globalnych kursów kryptowaluty Bitcoin.
https://www.kaggle.com/datasets/svaningelgem/crypto-currencies-daily-prices

In [75]:
df_crypto = pd.read_csv('data/BTC.csv')

In [76]:
df_crypto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5300 entries, 0 to 5299
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ticker  5300 non-null   object
 1   date    5300 non-null   object
 2   open    5300 non-null   float64
 3   high    5300 non-null   float64
 4   low     5300 non-null   float64
 5   close   5300 non-null   float64
dtypes: float64(4), object(2)
memory usage: 248.6+ KB

In [77]:
df_crypto.head()

  ticker        date     open     high      low    close
0    BTC  2010-07-17  0.04951  0.04951  0.04951  0.04951
1    BTC  2010-07-18  0.04951  0.08585  0.04951  0.08584
2    BTC  2010-07-19  0.08584  0.09307  0.07723  0.08080
3    BTC  2010-07-20  0.08080  0.08181  0.07426  0.07474
4    BTC  2010-07-21  0.07474  0.07921  0.06634  0.07921

In [78]:
df_crypto.isna().sum()

ticker    0
date      0
open      0
high      0
low       0
close     0
dtype: int64

In [79]:
df_crypto.describe()

                open           high            low          close
count    5300.000000    5300.000000    5300.000000    5300.000000
mean    14222.022606   14558.291070   13864.188277   14237.440034
std     21067.485260   21534.072186   20566.435094   21085.009956
min         0.049510       0.049510       0.010000       0.049510
25%       236.517500     240.495000     232.377500     236.665000
50%      3784.640000    3891.085000    3639.270000    3793.075000
75%     21103.675000   21649.300000   20631.850000   21125.900000
max    105118.000000  106426.000000  103320.000000  105104.000000

In [80]:
df_crypto_filtered = df_crypto.copy()

In [81]:
df_crypto_filtered.drop(columns='ticker', inplace=True)

df_crypto_filtered.rename(
    columns={
        'open': 'btc_open_daily',
        'high': 'btc_high_daily',
        'low': 'btc_low_daily',
        'close': 'btc_close_daily',
    },
    inplace=True
)

In [82]:
print(
    'Observations date range:',
    df_crypto_filtered['date'].min(),
    '-',
    df_crypto_filtered['date'].max()
)

Observations date range: 2010-07-17 - 2025-03-07

In [83]:
df_crypto_filtered['date'] = pd.to_datetime(df_crypto_filtered['date'])

df_crypto_filtered = df_crypto_filtered[
    df_crypto_filtered['date'].between('2020-01-01', '2022-12-31')
]

##### **Zbiór 2.** Dane dotyczące jakości powietrza w poszczególnych stanach i hrabstwach Stanów Zjednoczonych w latach 2020-2022.
https://aqs.epa.gov/aqsweb/airdata/download_files.html

In [84]:
df_aqi_2020 = pd.read_csv('data/daily_aqi_by_county_2020.csv')
df_aqi_2021 = pd.read_csv('data/daily_aqi_by_county_2021.csv')
df_aqi_2022 = pd.read_csv('data/daily_aqi_by_county_2022.csv')

df_air_quality = pd.concat([df_aqi_2020, df_aqi_2021, df_aqi_2022])

In [85]:
df_air_quality.info()

<class 'pandas.core.frame.DataFrame'>
Index: 976100 entries, 0 to 324421
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   State Name                 976100 non-null  object
 1   county Name                976100 non-null  object
 2   State Code                 976100 non-null  int64
 3   County Code                976100 non-null  int64
 4   Date                       976100 non-null  object
 5   AQI                        976100 non-null  int64
 6   Category                   976100 non-null  object
 7   Defining Parameter         976100 non-null  object
 8   Defining Site              976100 non-null  object
 9   Number of Sites Reporting  976100 non-null  int64
dtypes: int64(4), object(6)
memory usage: 81.9+ MB

In [86]:
df_air_quality.head()

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
0,Alabama,Baldwin,1,3,2020-01-01,56,Moderate,PM2.5,01-003-0010,1
1,Alabama,Baldwin,1,3,2020-01-04,18,Good,PM2.5,01-003-0010,1
2,Alabama,Baldwin,1,3,2020-01-07,18,Good,PM2.5,01-003-0010,1
3,Alabama,Baldwin,1,3,2020-01-10,51,Moderate,PM2.5,01-003-0010,1
4,Alabama,Baldwin,1,3,2020-01-13,38,Good,PM2.5,01-003-0010,1

In [87]:
df_air_quality.isna().sum()

State Name                   0
county Name                  0
State Code                   0
County Code                  0
Date                         0
AQI                          0
Category                     0
Defining Parameter           0
Defining Site                0
Number of Sites Reporting    0
dtype: int64

In [88]:
df_air_quality.describe()

          State Code    County Code            AQI  Number of Sites Reporting
count  976100.000000  976100.000000  976100.000000              976100.000000
mean       30.348972      80.176012      42.253111                   1.999282
std        16.227468      89.943306      26.268488                   2.454800
min         1.000000       1.000000       0.000000                   1.000000
25%        17.000000      23.000000      31.000000                   1.000000
50%        30.000000      59.000000      40.000000                   1.000000
75%        42.000000     107.000000      51.000000                   2.000000
max        80.000000     840.000000    8368.000000                  34.000000

In [89]:
df_air_quality_filtered = df_air_quality.copy()

In [90]:
df_air_quality_filtered = df_air_quality_filtered[['State Name', 'county Name', 'Date', 'AQI', 'Defining Parameter']]

df_air_quality_filtered.rename(
    columns={
        'State Name': 'subregion1_name',
        'county Name': 'subregion2_name',
        'Date': 'date',
        'AQI': 'aqi',
        'Defining Parameter': 'defining_parameter'
    },
    inplace=True
)

df_air_quality_filtered['date'] = pd.to_datetime(df_air_quality_filtered['date'])

In [91]:
df_air_quality_filtered['defining_parameter'].value_counts()

defining_parameter
Ozone    466883
PM2.5    465929
PM10      30150
NO2       11389
CO         1749
Name: count, dtype: int64

Ze względu na nieznaczną ilość obserwacji dla innych parametrów niż 'Ozone' i 'PM2.5', zostaną one wyfiltrowane.

In [92]:
df_air_quality_filtered = df_air_quality_filtered[
    df_air_quality_filtered['defining_parameter'].isin(['Ozone', 'PM2.5'])
]

In [93]:
df_air_quality_filtered_pivot = df_air_quality_filtered.pivot_table(
    index=['subregion1_name', 'subregion2_name', 'date'],
    columns='defining_parameter',
    values='aqi'
).reset_index()

df_air_quality_filtered_pivot.columns.name = None

df_air_quality_filtered_pivot.rename(
    columns={
        'Ozone': 'aqi_ozone_daily',
        'PM2.5': 'aqi_pm25_daily'
    },
    inplace=True
)

W zbiorze dot. COVID-19, nazwy hrabstw mają dopisek 'County', co zostanie zastosowane również w zbiorze dot. jakości powietrza.

In [94]:
df_air_quality_filtered_pivot['subregion2_name'] = (
    df_air_quality_filtered_pivot['subregion2_name']
    .apply(lambda x: x + ' County')
)

In [95]:
df_air_quality_filtered_pivot.head()

  subregion1_name subregion2_name       date  aqi_ozone_daily  aqi_pm25_daily
0         Alabama  Baldwin County 2020-01-01              NaN            56.0
1         Alabama  Baldwin County 2020-01-04              NaN            18.0
2         Alabama  Baldwin County 2020-01-07              NaN            18.0
3         Alabama  Baldwin County 2020-01-10              NaN            51.0
4         Alabama  Baldwin County 2020-01-13              NaN            38.0

##### **Zbiór 3.** Dane dotyczące generacji, emisji i zapotrzebowania energii elektrycznej w poszczególnych krajach świata.
https://ember-energy.org/data/monthly-electricity-data/

In [96]:
df_electricity = pd.read_csv('data/electricity.csv')

In [97]:
df_electricity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464550 entries, 0 to 464549
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Area                 464550 non-null  object
 1   Country code         414616 non-null  object
 2   Date                 464550 non-null  object
 3   Area type            464550 non-null  object
 4   Continent            414616 non-null  object
 5   Ember region         414616 non-null  object
 6   EU                   414616 non-null  float64
 7   OECD                 414616 non-null  float64
 8   G20                  414616 non-null  float64
 9   G7                   414616 non-null  float64
 10  ASEAN                414616 non-null  float64
 11  Category             464550 non-null  object
 12  Subcategory          464550 non-null  object
 13  Variable             464550 non-null  object
 14  Unit                 464550 non-null  object
 15  Value                462381 non-null  float64
 16  YoY absolute change  289738 non-null  float64
 17  YoY % change         245539 non-null  float64
dtypes: float64(8), object(10)
memory usage: 63.8+ MB

In [98]:
df_electricity.head()

,Area,Country code,Date,Area type,Continent,Ember region,EU,OECD,G20,G7,ASEAN,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
0,Argentina,ARG,2018-01-01,Country,South America,Latin America and Caribbean,0.0,0.0,1.0,0.0,0.0,Electricity demand,Demand,Demand,TWh,12.77,NaN,NaN
1,Argentina,ARG,2018-01-01,Country,South America,Latin America and Caribbean,0.0,0.0,1.0,0.0,0.0,Electricity generation,Aggregate fuel,Clean,%,34.57,NaN,NaN
2,Argentina,ARG,2018-01-01,Country,South America,Latin America and Caribbean,0.0,0.0,1.0,0.0,0.0,Electricity generation,Aggregate fuel,Fossil,%,65.44,NaN,NaN
3,Argentina,ARG,2018-01-01,Country,South America,Latin America and Caribbean,0.0,0.0,1.0,0.0,0.0,Electricity generation,Aggregate fuel,Gas and Other Fossil,%,63.40,NaN,NaN
4,Argentina,ARG,2018-01-01,Country,South America,Latin America and Caribbean,0.0,0.0,1.0,0.0,0.0,Electricity generation,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",%,29.08,NaN,NaN

In [99]:
df_electricity.isna().sum()

Area                        0
Country code            49934
Date                        0
Area type                   0
Continent               49934
Ember region            49934
EU                      49934
OECD                    49934
G20                     49934
G7                      49934
ASEAN                   49934
Category                    0
Subcategory                 0
Variable                    0
Unit                        0
Value                    2169
YoY absolute change    174812
YoY % change           219011
dtype: int64

In [100]:
df_electricity.describe()

,EU,OECD,G20,G7,ASEAN,Value,YoY absolute change,YoY % change
count,414616.000000,414616.000000,414616.000000,414616.000000,414616.000000,462381.000000,289738.000000,245539.000000
mean,0.352198,0.527175,0.241824,0.120979,0.068133,30.427111,0.074001,8.289965
std,0.477656,0.499262,0.428189,0.326104,0.251974,111.925657,15.283876,83.516853
min,0.000000,0.000000,0.000000,0.000000,0.000000,-9.270000,-1045.650000,-14000.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.070000,-0.030000,-6.660000
50%,0.000000,1.000000,0.000000,0.000000,0.000000,1.370000,0.000000,0.000000
75%,1.000000,1.000000,0.000000,0.000000,0.000000,14.030000,0.100000,12.750000
max,1.000000,1.000000,1.000000,1.000000,1.000000,2750.970000,490.200000,8700.000000

W kolumnie 'Country code' znajdują się brakujące wartości, należy zbadać czy wiersze z brakującymi wartościami będą istotne dla analizy.

In [101]:
df_electricity.query('`Country code`.isnull()')['Area'].value_counts()

Area
North America                  9000
EU                             6100
Europe                         6100
Asia                           3650
G20                            3650
G7                             3650
Latin America and Caribbean    3650
OECD                           3650
ASEAN                          3550
World                          3550
Oceania                        3384
Name: count, dtype: int64

Brakujące wartości w kolumnie 'Country code' dotyczą obszarów, które nie są krajami, dlatego zostaną usunięte.

In [102]:
df_electricity.dropna(subset=['Country code'], inplace=True)

In [103]:
df_electricity['Category'].value_counts()

Category
Electricity generation    251460
Power sector emissions    140388
Electricity demand          9772
Electricity imports         9772
Electricity prices          3224
Name: count, dtype: int64

In [104]:
print(
    'Observations date range:',
    df_electricity['Date'].min(),
    '-',
    df_electricity['Date'].max()
)

Observations date range: 1998-12-01 - 2025-02-01

In [105]:
df_electricity_filtered = df_electricity.copy()

Do dalszej analizy zostaną wykorzystane dane dotyczące zapotrzebowania na energię elektryczną, pozostałe dane zostaną wyfiltrowane.

In [106]:
df_electricity_filtered = df_electricity_filtered.query('Category == "Electricity demand"')

In [107]:
df_electricity_filtered.isna().sum()

Area                      0
Country code              0
Date                      0
Area type                 0
Continent                 0
Ember region              0
EU                        0
OECD                      0
G20                       0
G7                        0
ASEAN                     0
Category                  0
Subcategory               0
Variable                  0
Unit                      0
Value                     0
YoY absolute change    1056
YoY % change           1056
dtype: int64

In [108]:
df_electricity_filtered = df_electricity_filtered[
    ['Country code', 'Date', 'Value']
]

df_electricity_filtered.rename(
    columns={
        'Country code': 'iso_3166_1_alpha_3',
        'Date': 'date',
        'Value': 'electricity_demand_twh_monthly'
    },
    inplace=True
)

In [109]:
df_electricity_filtered['date'] = pd.to_datetime(df_electricity_filtered['date'])

df_electricity_filtered = df_electricity_filtered[
    df_electricity_filtered['date'].between('2020-01-01', '2022-12-31')
]

##### Złączenie zbiorów danych z części 6 z dodatkowymi zbiorami danych.

In [110]:
df_combined = df_combined.merge(
    df_crypto_filtered,
    how='left',
    on='date'
)

df_combined = df_combined.merge(
    df_air_quality_filtered_pivot,
    how='left',
    on=['subregion1_name', 'subregion2_name', 'date']
)

df_combined = df_combined.merge(
    df_electricity_filtered,
    how='left',
    on=['iso_3166_1_alpha_3', 'date']
)

In [111]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22756333 entries, 0 to 22756332
Data columns (total 52 columns):
 #   Column                                 Dtype
---  ------                                 -----
 0   location_key                           object
 1   date                                   datetime64[ns]
 2   country_name                           object
 3   aggregation_level                      Int64
 4   iso_3166_1_alpha_2                     object
 5   iso_3166_1_alpha_3                     object
 6   subregion1_code                        object
 7   subregion1_name                        object
 8   subregion2_code                        object
 9   subregion2_name                        object
 10  new_confirmed                          Int64
 11  cumulative_confirmed                   Int64
 12  new_confirmed_male                     Int64
 13  new_confirmed_female                   Int64
 14  cumulative_confirmed_male              Int64
 15  cumulative_confirmed_female            Int64
 16  new_deceased                           Int64
 17  cumulative_deceased                    Int64
 18  new_deceased_male                      Int64
 19  new_deceased_female                    Int64
 20  cumulative_deceased_male               Int64
 21  cumulative_deceased_female             Int64
 22  new_persons_vaccinated                 Int64
 23  cumulative_persons_vaccinated          Int64
 24  new_persons_fully_vaccinated           Int64
 25  cumulative_persons_fully_vaccinated    Int64
 26  new_vaccine_doses_administered         Int64
 27  cumulative_vaccine_doses_administered  Int64
 28  search_trends_alcoholism               float64
 29  search_trends_anxiety                  float64
 30  search_trends_depression               float64
 31  search_trends_insomnia                 float64
 32  country_population_rank                float64
 33  continent                              object
 34  country_population_2022                float64
 35  country_population_2020                float64
 36  country_area_sq_km                     float64
 37  country_population_density_per_sq_km   float64
 38  country_population_growth_rate         float64
 39  country_world_population_percentage    float64
 40  country_gdp_usd_2012                   float64
 41  country_gdp_usd_2013                   float64
 42  country_gdp_usd_2014                   float64
 43  country_gdp_usd_2015                   float64
 44  country_gdp_usd_2016                   float64
 45  btc_open_daily                         float64
 46  btc_high_daily                         float64
 47  btc_low_daily                          float64
 48  btc_close_daily                        float64
 49  aqi_ozone_daily                        float64
 50  aqi_pm25_daily                         float64
 51  electricity_demand_twh_monthly         float64
dtypes: Int64(19), datetime64[ns](1), float64(23), object(9)
memory usage: 9.2+ GB

In [112]:
# df_combined.to_csv('output/combined_part_7.csv')